@media screen and (orientation: portrait) and (max-device-width: 759px), screen and (orientation: landscape) and (max-device-height: 759px) {
.xr_mvp_2 {display: block;}
.xr_mvp_1 {display: none;}
.xr_pbd {margin-left: -200px;}
#xr_xr {width: 400px; height: 4360px}
}
@media screen and (orientation: portrait) and (min-device-width: 760px), screen and (orientation: landscape) and (min-device-height: 760px) {
.xr_mvp_2 {display: none;}
.xr_mvp_1 {display: block;}
.xr_pbd {margin-left: -560px;}
#xr_xr {width: 1120px; height: 3549px}
}
